<form action='/users/new' method='post'>
  <div>
    <label for='first_name'>First Name:</label>
    <input type='text' placeholder='First Name' name ='first_name'>
  </div>
  <div>
    <label for='last_name'>Last Name:</label>
    <input type='text' placeholder='Last Name' name ='last_name'>
  </div>
  <div>
    <label for='email'>E-Mail:</label>
    <input type='text' placeholder='E-mail Adress' name ='email'>
  </div>
  <div>
    <label for='dob'>Date of Birth:</label>
    <input id='dob' type='date' name ='dob'>
  </div>
  <div>
    <label for='password'>Password:</label>
    <input type='text' placeholder='Password' name='password'>
  </div>
  <div>
    <label for='confirm_password'>Confirm Password:</label>
    <input type='text' placeholder='Confirm Password' name='confirm_password'>
  </div>
  <input type='submit' value='Create Me!'>
</form>